<p class="Nav-caption"><i>Warning: flashing gifs; very image heavy.</i></p>

<a href="/collections/buttons/" class="Nav-link">buttons</a>
<a href="/collections/blinkies/" class="Nav-link">blinkies</a>
<a href="/collections/stamps/" class="Nav-link">stamps</a>
