<a href="/" class="Nav-link">index</a>
<button class="Nav-link" @click="$store['subNav'].toggle('collections')" aria-controls="collections-submenu"
        aria-expanded="false">
    collections
</button>
<a href="/about/" class="Nav-link">about</a>
<a href="/manifesto/" class="Nav-link">manifesto</a>
<a href="/diary/" class="Nav-link">diary</a>
<a href="/links/" class="Nav-link">links</a>

<hr class="Nav-separator">

<a href="https://epiphany.punkfairie.net" target="_blank" class="Nav-link">epiphany</a>
<a href="https://saudade.punkfairie.net" target="_blank" class="Nav-link">petz archive</a>
