<a href="/" class="Nav-link">index</a>
<button class="Nav-link" @click="$store['subNav'].toggle('collections')"
        aria-controls="collections-submenu" aria-expanded="false">
    collections
</button>
<a href="/about/" class="Nav-link">about</a>
<a href="/manifesto/" class="Nav-link">manifesto</a>
<a href="/diary/" class="Nav-link Status--new">diary</a>
<a href="/links/" class="Nav-link">links</a>

<hr>

<a href="https://epiphany.punkfairie.net" target="_blank"
        class="Nav-link" title="petz site">epiphany</a>
<a href="https://saudade.punkfairie.net" target="_blank"
        class="Nav-link" title="petz archive">saudade</a>
