<div class="Social-webring">
    <a href="https://hotlinewebring.club/punkfairie/previous" class="Social-webringArrow"><<</a>
    <a href="https://hotlinewebring.club/" target="_blank" class="Social-webringLink">hotline</a>
    <a href="https://hotlinewebring.club/punkfairie/next" class="Social-webringArrow">>></a>
</div>

<div class="Social-webring">
    <a href="https://webring.dinhe.net/prev/https://punkfairie.net" class="Social-webringArrow"><<</a>
    <a href="https://webring.dinhe.net/" target="_blank" class="Social-webringLink">retronaut</a>
    <a href="https://webring.dinhe.net/next/https://punkfairie.net" class="Social-webringArrow">>></a>
</div>

<hr>

<a href="https://keysklubhouse.neocities.org" target="_blank" class="Social-badge">
    <img src="/images/badges/handcoded.png" alt="Badge with the text hand coded">
</a>

<a href="https://linklane.net" target="_blank" class="Social-badge">
    <img src="/images/badges/linklane.png" title="Link Lane" alt="LinkLane.net">
</a>

<a href="http://nerdlistings.info/" target="_blank" class="Social-badge">
    <img src="/images/badges/nerdlistings.gif" title="Nerd Listings" alt="NerdListings.info">
</a>

<a href="https://www.deviantart.com/king-lulu-deer/art/Lesbian-Pride-Flag-Shooting-Star-685222878" target="_blank"
   class="Social-badge">
    <img src="/images/badges/dyke.gif" alt="Dyke" title="Dyke">
</a>
