<b>visitors:</b>
<div class="HitCounter">
  <!-- Counter Code START -->
  <script src="http://hitcounters.net/counter.php?id=11368&cmd=cookie"></script>
  <img src="http://hitcounters.net/counter.php?id=11368&cmd=img_only"
    alt="hit counter"
    style="display: inline-block;">
  <!-- Counter Code END -->
</div>

<hr>

<a href="https://neocities.org/site/punkfairie">
  <img src="/images/neocities-pink.gif" alt="Follow me on Neocities">
</a>
<a href="/feed.xml">
  <img src="/images/rss-button.png" alt="RSS Feed">
</a>
