@use '../mixins';
@use '../theme';

.UpdateBox {
  @include mixins.gradient-border;
  @include mixins.flow(theme.$spacer-2xs);

  padding: theme.$spacer-s;
  margin-inline-start: auto;
  margin-inline-end: auto;
  text-align: center;
  inline-size: theme.$spacer-5xl;
}
