---
layout: layout.liquid
---
<div class="Gallery">
    {% for source in buttons %}
        {% for button in source[1] %}
            <a href="{{ credits[source[0]] }}" target="_blank">
                <img src="/collections/images/buttons/{{ source[0] }}/{{ button }}" alt="{{ source[0] }}">
            </a>
        {% endfor %}
    {% endfor %}
</div>
