@use '../../theme';
@use '../../mixins';

// stylelint-disable scale-unlimited/declaration-strict-value, rem-over-px/rem-over-px

.Cbox {
  @include mixins.gradient-border;

  position: relative;
  margin: theme.$spacer-m auto 0;
  inline-size: theme.$spacer-5xl;
  font-size: 0;
  line-height: 0;

  &-messages {
    position: relative;
    block-size: 175px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border: 0 solid;
  }

  &-form {
    position: relative;
    block-size: 100px;
    overflow: hidden;
    border: 0 solid;
  }
}
