@use '../../mixins';
@use '../../theme';

.UpdateBox {
  @include mixins.gradient-border;

  inline-size: theme.$spacer-5xl;
  padding: theme.$spacer-s;
  margin-inline: auto auto;
  text-align: center;

  @include mixins.flow(theme.$spacer-2xs);
}
