/**
 * Global styles. This is the ONLY sheet that is allowed plain HTML tags.
 */

@use 'theme';

html {
  background-image: theme.$gradient;
  min-block-size: 100vb;
  min-inline-size: 100vi;
}

body {
  font-size: theme.$fontSize-0;
  font-family: theme.$fontFamily--body;
}
