/**
 * Global styles. This is the ONLY sheet that is allowed plain HTML tags.
 */

@use 'theme';
@use 'mixins';

html {
  overflow: hidden;
  background-image: theme.$gradient;
  min-block-size: 100vb;
  min-inline-size: 100vi;
}

body {
  font-family: theme.$fontFamily--body;
  font-size: theme.$fontSize-0;
  color: theme.$neutral-900;
  letter-spacing: theme.$letterSpacing;
}

@include mixins.rainbowify-text('i', 'color');
@include mixins.rainbowify-text('b', 'color');
