---
title: It's been a while (what I've been up to)
---

<h3 class="Title--sizeH3">First, site related things:</h3>

<p class="u-rainbowifyChildren">
  punkfairie.net moved registrars. I was loyal to NameSilo for probably close to
  10 years! But as prices started to creep up, they were no longer the cheapest
  option on the market.
  <a class="Link" href="https://porkbun.com/" target="_blank">porkbun</a> is now
  the winner in that category, and as an added bonus the feature set is wayyy
  less bloated which makes the UI super clean and easy to navigate. More
  features are not always better!
</p>

<p>
  I'm still ironing out DNS migration, so the links to saudade and epiphany
  don't work at the moment. Fixed soon I hope!
</p>

<p class="u-rainbowifyChildren">
  Also, I may be moving off Neocities soon. Fiancee has a neat little homelab
  set up and has promised me a little server of my own (who I've named
  'MarleyNet'!). Some sort of load balancer has to be set up though to tell the
  difference between traffic to
  <a class="Link" href="https://blackcat.vip" target="_blank">blackcat.vip</a>
  (fiancee's domain) and punkfairie.net. So that may take some time.
</p>

<p>
  Future plans for MarleyNet beyond this site:
</p>

<ul class="List">
  <li class="List-item">
    A
    <a href="https://about.gitea.com/products/gitea/" class="Link" target="_blank">Gitea</a>
    instance.
  </li>
  <li class="List-item">
    <a href="https://caddyserver.com/" class="Link" target="_blank">Caddy</a> as
    the web server.
  </li>
</ul>

<p class="u-rainbowifyChildren">
  MarleyNet has an older sister, MarleyCentre (named after the hardware:
  ThinkCentre). Currently all she's running is a
  <a class="Link" target="_blank" href="https://github.com/charmbracelet/soft-serve">Soft Serve</a>
  instance, accessible from a
  <a class="Link" target="_blank" href="https://github.com/charmbracelet/wishlist">Wishlist</a>
  directory.
</p>

<h3 class="Title--sizeH3">Other tech projects:</h3>

<p>
  I became an arch user. And a vim user. I completely ditched Windows a while
  ago and for the most part have been happy with that decision! I still can't
  get Skyrim to load with a Wabbajack modlist and my Farming Simulator
  accessories don't work right but those are the only downsides so far. It's
  been a lot of fun tinkering with my own system :)
</p>

<p>
  Neovim is mostly going fine, still got some tinkering to do for everything to
  work how I want it to for editing this site. But it's absolutely perfect for
  editing configs &amp; shell scripts, which I find myself doing a lot of these
  days. I even learned Go with it!!
</p>

<p class="u-rainbowifyChildren">
  The Neovim config I'm using is
  <a href="https://www.lazyvim.org/" class="Link" target="_blank">LazyVim</a>,
  but if you're a beginner I don't recommend installing someone else's config
  first. Just start using it, and add things to your own config as you go. Once
  you get into plugins, and get sick of managing conflicts and plugin opts on
  your own, then install LazyVim :). It's super customizable, and most things
  <i>just work.</i>
</p>

<h3 class="Title--sizeH3">What I'm up to elsewhere:</h3>

<p class="u-rainbowifyChildren">
  I've gotten really into
  <a href="https://obsidian.md/" class="Link" target="_blank">Obsidian</a>
  lately, and the whole second brain/personal knowledge management thing in
  general. I may do a proper writeup about it soon with some links!
</p>

<p class="u-rainbowifyChildren">
  I got a new job recently, doing admin work which means <b>NO MORE CUSTOMER
    SERVICE!!</b> I'm absolutely loving it so far, and it's what got me into
  Obsidian and everything mentioned above, because there's just so much random
  information I need to know and processes to follow and I needed some way to
  keep track of it all. Plus my day is way more self-structured than before, and
  there's a lot of random little to-dos to keep track of!
</p>
