---
layout: layout.liquid
---
<h2 class="Title--sizeH3 u-textCenter">Domain</h2>

<p>
  Punkfairie.net was registered on February 24, 2022. The name punkfairie has
  been my username for various online communities since high school (I first
  came up with it for my Tumblr url).
</p>

<p>
  Absolutely everything on this site was coded by me and always will be, with
  only three exceptions - hit counter, because Neocities doesn't allow PHP and
  doing a JS only counter is a little more complicated (but will be done
  eventually); the cursor trail script, because I don't have the brain for that
  sort of thing lol; and the cbox.
</p>

<p>
  I used to run the server myself as well, but in June 2023 I switched over to
  NeoCities for the social aspect :).
</p>

<ul class="List">
  <li class="List-item"><b>text editor:</b> Neovim on Arch Linux (i use arch
    btw).</li>
  <li class="List-item"><b>tools used:</b> SCSS, Eleventy</li>
</ul>

<h2 class="Title--sizeH3 u-textCenter">Webmiss</h2>

<p>
  Hello! My name is Marley (she/her). I've been tinkering with websites since
  grade school, mostly making Petz fansites. I had a brief period of running
  fanlistings in high school as well. I have always enjoyed the creativity of
  designing a website, and figuring out how to make things like autopopulating
  blinkie pages.
</p>

<p>
  IRL, I'm a femme dyke engaged (!!) to the most gorgeous woman ever. I like
  sewing, embroidery, cross-stitch, and various other fiber arts. I got the most
  useless &amp; most expensive degree in the world - fine arts. I write poetry
  sometimes and do paint by numbers.
</p>

<p>
  I strongly dislike social media, but I've gotten into Mastedon lately. This
  site is hosted on NeoCities, so you can follow me there! I also have RSS &amp;
  ATOM feeds for my fellow old-school types :)
</p>
