---
layout: layout.liquid
---

<p>
    Hello! Welcome to <i>punkfairie.net.</i> This is my little home on the web, and also serves as a directory for my
    other sites!
</p>

<div class="UpdateBox">
    <h2 class="Title--sizeH4">6 June 2023</h2>
</div>
