---
layout: layout.liquid
---

<h2 class="Title--sizeH3 u-textCenter">Cool Sites</h2>

<p>Want your site here? Let me know in the cbox!</p>

<div class="Gallery">
    <a href="https://keysklubhouse.neocities.org/" target="_blank">
        <img src="/images/links/keysklubhouse.gif" alt="Key's Klubhouse">
    </a>
    <a href="https://cinni.net/" target="_blank">
        <img src="/images/links/cinnisdreamhome.gif" alt="Cinni's Dream Home">
    </a>
    <a href="https://fairytrash.neocities.org/" target="_blank">
        <img src="/images/links/fairytrash.png" alt="fairy trash">
    </a>
    <a href="https://xandra.cc/" target="_blank">
        <img src="/images/links/museumofalexandra.png" alt="Museum of Alexandra">
    </a>
    <a href="https://wiby.me/" target="_blank">
        <img src="/images/links/wiby.gif" alt="Wiby Search">
    </a>
</div>

<ul class="List">
    <li class="List-item">
        <a href="https://www.cameronsworld.net/" target="_blank" class="Link">Cameron's World</a>
    </li>
</ul>
