---
layout: layout.liquid
---

<h2 class="Title--sizeH3 u-textCenter">Cool Sites</h2>

<p>Want your site here? Let me know in the cbox!</p>

<div class="Gallery">
  <a href="https://keysklubhouse.neocities.org/" target="_blank">
    <img src="/images/links/keysklubhouse.gif" alt="Key's Klubhouse">
  </a>
  <a href="https://cinni.net/" target="_blank">
    <img src="/images/links/cinnisdreamhome.gif" alt="Cinni's Dream Home">
  </a>
  <a href="https://fairytrash.neocities.org/" target="_blank">
    <img src="/images/links/fairytrash.png" alt="fairy trash">
  </a>
  <a href="https://xandra.cc/" target="_blank">
    <img src="/images/links/museumofalexandra.png" alt="Museum of Alexandra">
  </a>
  <a href="https://wiby.me/" target="_blank">
    <img src="/images/links/wiby.gif" alt="Wiby Search">
  </a>
  <a href="https://melonland.net/" target="_blank">
    <img src="/images/links/melonland.gif" alt="MelonLand">
  </a>
  <a href="https://32bit.cafe/" target="_blank">
    <img src="/images/links/32bitcafe.png" alt="32-Bit Cafe">
  </a>
  <a href="https://transistorcafe.net/" target="_blank">
    <img src="/images/links/TransistorCafe.gif" alt="Transistor Cafe">
  </a>
</div>

<ul class="List">
  <li class="List-item">
    <a href="https://www.cameronsworld.net/" target="_blank" class="Link">Cameron's World</a>
    <a href="https://thegardenofmadeline.neocities.org/pages/foreverandalways" target="_blank" class="Link">Queer
      Joy</a>
  </li>
</ul>
